body{
  background-image: url(afternoon.jpg);
  background-repeat: no-repeat;
  background-position:center;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
  /* position: relative; */
}
h1{
  /* position: absolute; */
  color: white;
  font-size: 3vw;
  margin : auto;

}
@media (max-width: 580px) {
  body {
    background-image: url(morning.jpg);
    background-repeat: no-repeat;
    background-size: contain ;
  }
}
/* @media (min-width: 481px) {
  #picblock {
    background-image: url(desktop.png);
    background-repeat: no-repeat;
    background-size: contain ;
  }
}  */
